@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap');
*{
	box-sizing: border-box;
}
body{
	color: hsl(243, 87%, 12%);
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
}
a{
	text-decoration: none;
}
.container{
	max-width: 100%;
	width: 1200px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	padding: 20px;
}
header{
	background-color: #fff;
	margin-top: 30px;
	padding-bottom: 50px;
	margin-bottom: 140px;
}
.top{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-bottom: 50px;
}
nav ul{
	display: flex;
	justify-content: center;
}
nav li{
	margin-left: 35px;
}
img{
	max-width: 100%;
}
.row{
	display: flex;
	align-items: center;
}
.row > div{
	flex: 1;
	justify-content: center;
}
h1{
	font-size: 36px;
	font-weight: 700;
	font-family: "Raleway",sans-serif;
	line-height: 55px;
	margin-bottom: 20px;
}
.row div:first-child{
	margin-right: 20px;
}
p{
	font-size: 18px;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 20px;
}
form{
	display: flex;
}
input{
	border: 1px solid hsl(243, 87%, 12%);
	padding: 15px 0 10px 10px;
	flex: 0.6;
	margin-right: 15px;
}
button{
	background-color: hsl(224, 93%, 58%);
	border: none;
	flex: 0.3;
	margin-right: 10px;
	color: #fff;
	font-size: 14px;
}
.lightgray{
	background-color: hsl(240, 75%, 98%);
	position: relative;
}
h2{
	font-size: 30px;
	font-family: "Raleway",sans-serif;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 50px;
}
.lightgray a{
	text-decoration: underline;
	color: hsl(170, 45%, 43%);
}
.see{
	margin-bottom: 40px;
}
.box{
	background-color: #fff;
	width: 70%;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
	margin-bottom: 90px;
}
.box img{
	margin-bottom: 8px;
}
.box p {
	line-height: 30px;
	font-size: 18px;
}
.box div img{
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.box div{
	display:flex
}
.box div div{
	flex-direction: column;
}
h4{
	font-weight: 700;
}
.gray{
	background-color: hsl(238, 22%, 44%);
	color: #fff;
}
.lightgray::before{
	content: "";
	position: absolute;
	top:-60px;
	left: 0;
	background-image: url("../images/bg-curve-desktop.svg");
	height: 60px;
	width: 100%;
	background-position: center center;
}
.gray h2{
	margin-top: 100px;
}
.gray p{
	opacity: 0.7;
	margin-bottom: 80px;
	font-size: 1.2em;
}
.gray form{
	flex-direction: column;
	margin-left: 150px;
}
input::placeholder{
	opacity: 0.5;
}
.gray input{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 2px;
	border: none;
}
.gray button{
	width: 50%;
	height: 43px;
	flex:auto;
	border-radius: 2px;
}
.dark{
	background-color: hsl(243, 87%, 12%);
	color: #fff;
}
.dark .row{
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 50px;
}
.dark .logo{
	align-self: flex-start;
	margin-top: 80px;
	margin-bottom: 20px;
}
.row > ul{
	flex: 1;
}
.row li{
	margin-bottom: 20px;
}
li img{
	margin-right: 15px;
}
.social-media{
	display: flex;
}
.social-media li{
	margin-left: 10px;
}
.circle {
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	height: 40px;
	width: 40px;
	text-decoration: none;
}
.dark p{
	display: flex;
	flex-direction: column;
	display: inline-block;
}
.dark p img{
	width: 20px;
}
.dark ul:first-of-type > li{
	margin-right: 40px;
}
@media (max-width:768px){
	.row{
		flex-direction: column-reverse;
		text-align: center;
	}
	form{
		flex-direction: column;
		width: 50%;
		margin: 0 auto;
	}
	form button,form input{
		padding: 15px 0 10px 10px;
		margin-right: 0px;
	}
	form input{
		margin-bottom: 15px;
	}
	.row >div:first-of-type{
		margin-right: 0px;
	}
	.lightgray::before {
		content: "";
		position: absolute;
		top: -50px;
		left: 0;
		background-image: url("../images/bg-curve-mobile.svg");
		height: 60px;
		width: 100%;
		background-position: center center;
		background-size: cover;
	}
	.gray .row,.dark .row{
		flex-direction: column;
	}
	.box{
		margin: 0 auto;
		width: 80%;
		text-align: left;
	}
	.gray form{
		margin: 0 auto;
		width: 100%;
	}
	.gray form button{
		flex: 1;
		width: 100%;
	}
	header{
		margin-bottom: 80px;
	}
	.lightgray,.gray{
		padding-bottom: 50px;
	}
	.dark  .row > ul:first-of-type li:last-child{
		display: flex;
	}
	.dark ul{
		margin-bottom: 30px;
	}
	.dark .row{
		text-align: inherit;
	}
	.dark .container{
		padding-left: 40px;
	}
	.social-media{
		margin: 0 auto;
	}
}
@media (max-width:430px){
	.top{
		flex-direction: column;
	}
	nav  li:first-of-type{
		margin-left: 0px;
	}
	nav{
		margin-top: 15px;
	}
}
